.site-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 16rem;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #333;

  &__title {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    font-weight: bold;;
  }

  &__subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: lighter;
  }

  &__container {
    --tw-space-y-reverse: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;

    a {
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        margin: 0 auto;
        left: 0;
        background-color: #333;
        bottom: -0.5rem;
        opacity: 0;
        transition: all 200ms;
      }

      &:hover::after {
        opacity: 1;
        bottom: -2px;
      }
    }

  }
}
